# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
.env

# ----------------------
# VSCode
# ----------------------
.vscode/

# ----------------------
# MacOS
# ----------------------
.DS_Store

# ----------------------
# Banco de dados e saída
# ----------------------
data/*.db       # Não versiona bancos locais
output/         # Não versiona arquivos de exportação JSON

# ----------------------
# Logs e caches
# ----------------------
*.log
.pytest_cache/

# ----------------------
# Arquivos temporários
# ----------------------
*.swp
*.swo
*.tmp
