# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Arquivos de banco de dados e output
data/*.db
output/

# Logs
*.log

# Pytest cache
.pytest_cache/
