# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.venv/
env/
venv/

# ----------------------
# VSCode
# ----------------------
.vscode/

# ----------------------
# MacOS
# ----------------------
.DS_Store

# ----------------------
# Banco de dados e saída
# ----------------------
data/*.db
output/*

# ----------------------
# Logs e caches
# ----------------------
*.log
.pytest_cache/

# ----------------------
# Arquivos temporários
# ----------------------
*.swp
*.swo
*.tmp

# ----------------------
# Output files
# ----------------------